
header {
    padding-left: 0px;
    background: #e63946   
}

#soco {
    font-size: 100px;
}

nav li {
    display: inline-block;
    margin-right: 20px;
    padding-left: 0px;
    font-size: 20px;
    font-weight: bold;
}

nav a {
    text-decoration: none;
}

nav ul {
    padding: 0;
    background: #f1faee;
}